{% extends 'admin_base.html' %}

{% load static %}


{% block content %}

<div class="content-wrapper">
    <div class="row">
        <div class="card">
            <div class="card-body ">
                <h3 class="card-title  d-flex justify-content-center">ADD VARIATION</h3>
                <div class="forms-sample ">
                    <div class="form-group  d-flex justify-content-center">
                        <form action="{% url 'save_variation' %}" method="POST" class="forms-sample  col-md-6 ">

                            {% csrf_token %}

                            <div class="form-group">
                                <label for="category_name">Product Name</label>
                                <select class="form-control" id="product_id" name="product_id" required>
                                    <option value="">Select a category...</option>
                                    {% for product in products %}
                                    <option value="{{ product.id }}">{{ product.product_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="product_name">Variation category</label>
                                <input type="text" class="form-control" id="variation_category" name="variation_category"
                                    required>
                            </div>
                            
                            <div class="form-group">
                                <label for="product_name">Varient</label>
                                <input type="text" class="form-control" id="varient" name="varient"
                                    required>
                            </div>

                            <div><br></div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
