

{% load static %}


<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
        <div class="me-3">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
            <span class="icon-menu"></span>
          </button>
        </div>
        <div>
          <a class="navbar-brand brand-logo" href="{% url 'adminHome' %}">
            <img src="{% static 'images/logo1.png' %}" alt="logo" />
          </a>
          <a class="navbar-brand brand-logo-mini" href="{% url 'adminHome' %}">
            <img src="{% static 'images/logo1.png' %}" alt="logo" />
          </a>
        </div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-top">
        <ul class="navbar-nav">
          <li class="nav-item font-weight-semibold d-none d-lg-block ms-0">
            <h1 class="welcome-text" style="   padding-left: 130px;"><span class="text-md-start font-monospace" style="letter-spacing: 10px; padding-left: 130px;">ADMIN PANEL</span></h1>

          </li>
        </ul>
        <ul class="navbar-nav ms-auto">

          <li class="nav-item dropdown d-none d-lg-block user-dropdown">
            <a class="btn btn-primary" href="{% url 'adminLogout' %}">LOGOUT</a>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
          data-bs-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
  </div>

  <!-- partial -->

  <div class="container-fluid page-body-wrapper">
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'adminHome' %}">
            <i class="mdi mdi-grid-large menu-icon"></i>
            <span class="menu-title">Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="collapse" href="#form-elements" aria-expanded="false"
            aria-controls="form-elements">
            <i class="menu-icon mdi mdi-card-text-outline"></i>
            <span class="menu-title">Product management</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="form-elements">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"><a class="nav-link" href="{% url 'add_product' %}">ADD</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'product_list' %}">EDIT</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'product_disable' %}">DISABLE</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
            <i class="menu-icon mdi mdi-account-circle-outline"></i>
            <span class="menu-title">User management</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="auth">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="{% url 'user_list' %}">User details</a></li>
              <li class="nav-item"> <a class="nav-link" href="{% url 'blocked_users' %}">Blocked user</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
            <i class="menu-icon mdi mdi-table"></i>
            <span class="menu-title">Order management</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="tables">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="">order pending</a></li>
              <li class="nav-item"> <a class="nav-link" href="">approval/decline</a></li>
              <li class="nav-item"> <a class="nav-link" href=""> approved</a></li>
              <li class="nav-item"> <a class="nav-link" href="">delivered</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="collapse" href="#variation" aria-expanded="false" aria-controls="tables">
            <i class="mdi mdi-chart-areaspline menu-icon"></i>
            <span class="menu-title">Variation Management</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="variation">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="{% url 'delete_view_variation' %}">View / Delete</a></li>
              <li class="nav-item"> <a class="nav-link" href="{% url 'add_variation' %}">Add variation</a></li>
             
            </ul>
          </div>
        </li>
        
        
      </ul>
    </nav>




  <!-- partial -->
