{% extends 'base.html' %}

{% load static %}

{% block content %}



<div class="container">
    <div class="py-3 text-center">
    </div>
    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your cart</span>
                <span class="badge badge-secondary badge-pill">{{ cart_count }}</span>
            </h4>
            <ul class="list-group mb-3 sticky-top">
                {% for cart_item in cart_items %}
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <figure class="itemside align-items-center">
                        {% with image=cart_item.product.related_image.first %}
                        {% if image %}
                        <div class="aside"><img src="{{ image.image.url }}"
                                alt="{{ cart_item.product.product_name }} Image" class="img-sm">
                        </div>
                        {% endif %}
                        {% endwith %}
                        <figcaption class="info">
                            <a href="{{ cart_item.product.get_url }}"
                                class="title text-dark">{{cart_item.product.product_name}}</a>
                                <p class="text-muted small">Qty : {{cart_item.quantity}} <br></p>
                            {% if cart_item.variations.all %}
                            {% for item in cart_item.variations.all %}
                            <p class="text-muted small">{{ item.variation_category | capfirst }} :
                                {{ item.variation_value | capfirst }}<br></p>
                            {% endfor %}
                            {% else %}
                            <p class="text-muted small">{{ cart_item.product.category_name | capfirst }} : {{ cart_item.product.brand | capfirst }}<br></p>
                            {% endif %}
                        </figcaption>
                    </figure>
                    <div class="price-wrap">
                        <var class="price">${{ cart_item.sub_total }}</var>
                        <small class="text-muted"> ${{cart_item.product.price}} each </small>
                    </div> <!-- price-wrap .// -->
                {% endfor %}
               
            </ul>
            <form action="{% url 'place_order' %}" method="POST" id="orderForm">
                {% csrf_token %}
            <button class="btn btn-primary btn-lg btn-block" type="submit">Continue</button>
        </div>
        <div class="col-md-8 order-md-1 list-group-item rounded lh-condensed">
            <h4 class="mb-3">Billing address 
                <button type="button" id="add-new-address-btn" class="btn btn-success btn sm float-right "
                            data-toggle="modal" data-target="#newAddressModal">New Address</button>
            </h4>
            
                <div class="row ">
                    <div class="col-md-6 mb-3 ">
                        {% for add in address %}
                        <div class="form-check">
                            <div class="border border-secondary p-3 mb-3">
                                <input type="radio" name="selected_address" id="add{{ add.id }}" value="{{ add.id }}" {% if add.status %} checked {% endif %}>
                                <label for="add{{ add.id }}">{{ add.name }},{{ add.full_address }},<br>
                                    {{ add.city }},{{ add.state }}<br>{{ add.phone }}<br></label>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="d-block my-3">
                    <div class="custom-control custom-radio">
                        <div class="form-group">
                            <label for="order_note">Order note:</label>
                            <input type="text" id="order_note" name="order_note" class="form-control">
                        </div>
                    </div>
                </div>
                <!-- <div class="invalid-feedback"> Zip code required. </div> -->
                <!-- <h4 class="mb-3">Payment Method</h4>
                <div class="d-block my-3">
                    <div class="custom-control custom-radio">
                        <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked=""
                            required="" value="cod">
                        <label class="custom-control-label" for="credit">Cash on deliver (COD)</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required="" value="razorpay">
                        <label class="custom-control-label" for="debit">RazorPay</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required="" value="paypal">
                        <label class="custom-control-label" for="paypal">PayPal</label>
                    </div>
                </div> -->
                
            </form>
        </div>
    </div>
<br>
     <!-- Modal for adding a new address -->
     <div class="modal fade" id="newAddressModal" tabindex="-1" role="dialog"
     aria-labelledby="newAddressModalLabel" aria-hidden="true">
     <div class="modal-dialog" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="newAddressModalLabel">Add New Address</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <div class="modal-body">
                 <form id="new-address-form">
                     <div class="form-group">
                         <label for="name">Name:</label>
                         <input type="text" id="name" name="name" class="form-control" required>
                     </div>
                     <div class="form-row">
                         <div class="form-group col-md-6">
                             <label for="address_line_1">Address Line 1:</label>
                             <input type="text" id="address_line_1" name="address_line_1"
                                 class="form-control" required>
                         </div>
                         <div class="form-group col-lg-6">
                             <label for="address_line_2">Address Line 2:</label>
                             <input type="text" id="address_line_2" name="address_line_2"
                                 class="form-control">
                         </div>
                     </div>
                     <div class="form-row">
                         <div class="form-group col-md-6">
                             <label for="state">State:</label>
                             <input type="text" id="state" name="state" class="form-control" required>
                         </div>
                         <div class="form-group col-lg-6">
                             <label for="city">City:</label>
                             <input type="text" id="city" name="city" class="form-control" required>
                         </div>
                     </div>
                     <div class="form-row">
                         <div class="form-group col-md-4">
                             <label for="pincode">Pincode:</label>
                             <input type="text" id="pincode" name="pincode" class="form-control" required>
                         </div>
                         <div class="form-group col-md-4">
                             <label for="country">Country:</label>
                             <input type="text" id="country" name="country" class="form-control" required>
                         </div>
                         <div class="form-group col-md-4">
                             <label for="phone">Phone:</label>
                             <input type="number" id="phone" name="phone" class="form-control" required>
                         </div>
                     </div>
                 </form>
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                 <button type="button" id="saveNewAddress" class="btn btn-primary">Save Address</button>
             </div>
         </div>
     </div>
 </div>

    
</div>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict'

        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation')

            // Loop over them and prevent submission
            Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault()
                        event.stopPropagation()
                    }
                    form.classList.add('was-validated')
                }, false)
            })
        }, false)
    }())



    $(document).ready(function () {
        // When the "Save Address" button in the modal is clicked
        $("#saveNewAddress").on("click", function () {
            // Get the new address data from the modal form
            var name = $("#name").val();
            var address_line_1 = $("#address_line_1").val();
            var address_line_2 = $("#address_line_2").val();
            var state = $("#state").val();
            var city = $("#city").val();
            var pincode = $("#pincode").val();
            var country = $("#country").val();
            var phone = $("#phone").val();

            // Send the new address data to the server using AJAX
            $.ajax({
                type: "POST",
                url: "{% url 'save_new_address' %}",
                data: {
                    'name': name,
                    'address_line_1': address_line_1,
                    'address_line_2': address_line_2,
                    'state': state,
                    'city': city,
                    'pincode': pincode,
                    'country': country,
                    'phone': phone,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                success: function (data) {
                    if (data.id) {
                        $("#name").val('');
                        $("#address_line_1").val('');
                        $("#address_line_2").val('');
                        $("#state").val('');
                        $("#city").val('');
                        $("#pincode").val('');
                        $("#country").val('');
                        $("#phone").val('');


                        $('#newAddressModal').modal('hide');

                        // Optionally, you can update the billing section as well
                        // Here's an example of how you can do that
                        var newAddressHtml = `
                        <div class="form-check">
                            <div class="border border-secondary p-3 mb-3">
                                <input type="radio" name="selected_address" id="add${data.id}" value="${data.id}" checked>
                                <label for="add${data.id}">
                                    ${name}, ${address_line_1},<br>
                                    ${city}, ${state}<br>${phone}<br>
                                </label>
                            </div>
                        </div>
                    `;

                    // Append the new address to the existing list
                    $(".col-md-6.mb-3").append(newAddressHtml);

                    // Uncheck all other addresses
                    $("input[name='selected_address']").not(`#add${data.id}`).prop("checked", false);

                        alert('New address saved successfully!');
                    }
                },
                error: function () {
                    // Handle errors, if any
                    alert('Failed to save the new address.');
                }
            });
        });
    });

    $(document).ready(function () {
    // When the "Continue" button is clicked
    $("#orderForm").on("submit", function (event) {
        // Find the checked radio button
        var selectedAddress = $("input[name='selected_address']:checked");

        if (selectedAddress.length > 0) {
            // Add the selected address value as a hidden input field to the form
            $(this).append(`<input type="hidden" name="selected_address" value="${selectedAddress.val()}">`);
        } else {
            // If no address is selected, prevent form submission and show an alert
            event.preventDefault();
            alert("Please select a billing address before continuing.");
        }
    });
});
</script>

{% endblock %}